{% extends "index.html" %}

{% block body %}

<form action="" class="form-horizontal" method="post"  enctype="multipart/form-data">
{% if admin %}

	<div class="form-group">
		<label class="col-sm-2 control-label">Priorytet</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="priorytet" value="{{ priorytet }}">
		</div>
	</div>	
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Ostatnia modyfikacja</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="ostatniamodyfikacja" value="{{ ostatniamodyfikacja }}">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Załącznik</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="zalacznik" value="BETA">
		</div>
	</div>			 
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Deleguj do</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="delegacja" value="{{ delegacja }}">
		</div>
	</div>		
{% endif %}

	<p>Nadawca: {{ name }} {{ surname }}</p>

	<div class="form-group">
		<label class="col-sm-2 control-label">Komórka zlecająca</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="kom" value="{{ branch }}">
		</div>
	</div>

	<div class="form-group">
		<label for="disabledInput" class="col-sm-2 control-label">Adresat</label>
		<div class="col-sm-10">
			<input class="form-control" name="adresat" id="disabledInput" type="text" value="Ośrodek Informatyki" >
		</div>
	</div>

	<div class="form-group">
		<label for="disabledInput" class="col-sm-2 control-label">Data wystawienia zlecenia</label>
		<div class="col-sm-10">
			<input class="form-control" name="data_zlecenia" id="disabledInput" type="text" value="{{ date }}" >
		</div>
	</div>

	<div class="form-group">
		<label for="disabledInput" class="col-sm-2 control-label">Data przyjęcia zlecenia</label>
		<div class="col-sm-10">
			<input class="form-control" name="data_przyjecia" id="disabledInput" type="text" value="{{ date }}"  >
		</div>
	</div>

	<div class="form-group", style="margin-top: 20px">
		<label for="one">Treść zlecenia</label>
		<textarea class="form-control" rows="9" id="comment" name="tresc"></textarea>
	</div>

	<label for="one">Dodaj załącznik</label>
	<input type="file" name="file" ><br>

	<div class="form-group">
		<label for="sad">Uzasadnienie potrzeby realizacji zlecenia</label>
		<textarea class="form-control" rows="5" id="comment" name="uzasadnienie_realizacji"></textarea>
	</div>
	

{% if admin %}
	<div class="form-group">
		<label for="sad">Opis wykonanych prac lub wniosek o zakup</label>
		<textarea class="form-control" rows="5" id="comment" name="opis_prac"></textarea>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Data prac</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="data_prac" value="">
		</div>
	</div>

	<div class="form-group">
		<label for="sad">Uzasadznienie zakupu</label>
		<textarea class="form-control" rows="5" id="comment" name="uzasadnienie_zakupu"></textarea>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Data akceptacji Dyrektora</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="data_akceptacji_dyrektora" value="">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Data potwierdzenia wykonanych prac</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="data_potwierdzenia" value="">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Data zakończenia zlecenia</label>
		<div class="col-sm-10">
			<input class="form-control" id="focusedInput" type="text" name="data_zakonczenia" value="">
		</div>
	</div>
{% endif %}

	<p>
		<h3>
		<a role="presentation" data-toggle="modal" data-target="#exampleModal" href="#"><span class="glyphicon glyphicon-send"></span> Wyślij </a>		
		</h3>
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="margin-top: 100px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="exampleModalLabel">Potwierdzenie</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							Czy napewno chcesz wysłać zlecenie?<br><br>
							<button type="sumbit" class="btn btn-success">Wyślij</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Wróć</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</p>

</form>
<br>
<p>
	{{ xx }}
</p>
{% endblock %}
